In [5]:
import pandas as pd

In [17]:
# read and clean crime data
crime = pd.read_csv('data/detroit-crime.csv')
crime = crime[['ADDRESS', 'LAT', 'LON']]
crime.columns = ['address', 'lat', 'long']
crime['origin'] = 'crime'
# remove lats outside detroit
crime = crime[crime['lat'] > 41.0]
crime = crime[crime['lat'] < 45.0]
crime.head()

                     address      lat     long origin
0             09100 PETOSKEY  42.3678 -83.1221  crime
1  00 PLYMOUTH AND MANSFIELD  42.3724 -83.2035  crime
2      00 E 7 MILE  VAN DYKE  42.4338 -83.0241  crime
3               06600 BARTON  42.3496 -83.1381  crime
4             00900 W WILLIS  42.3481 -83.0692  crime

In [7]:
# read and clean 311 data
_311 = pd.read_csv('data/detroit-311.csv')
_311 = _311[['address', 'lat', 'lng']]
_311.columns = ['address', 'lat', 'long']
_311['origin'] = '311'
_311.head()

,address,lat,long,origin
0,"13120-13130 Ilene Street Detroit, MI 48238, USA",42.383998,-83.161039,311
1,"1485 E. Outer Drive Detroit, Michigan",42.440471,-83.080919,311
2,"15460 Eastburn Detroit, Michigan",42.445244,-82.962038,311
3,"17541 Mendota St Detroit, Michigan",42.421043,-83.166194,311
4,"Griggs Detroit, Michigan",42.402033,-83.162874,311

In [42]:
# read and clean demo data
demo = pd.read_csv('data/detroit-demolition-permits.tsv', sep='\t')
demo = demo[['SITE_ADDRESS', 'site_location']]
demo['lat'] = demo['site_location'].str.split('\n', expand=True)[2].str.split(', ', expand=True)[0].str.replace('(', '')
demo['long'] = demo['site_location'].str.split('\n', expand=True)[2].str.split(', ', expand=True)[1].str.replace(')', '')
demo = demo[['SITE_ADDRESS', 'lat', 'long']]
demo.columns = ['address', 'lat', 'long']
demo['origin'] = 'demo'
demo = demo[pd.notnull(demo['lat'])]
demo = demo[pd.notnull(demo['long'])]
demo['lat'] = demo['lat'].astype(float)
demo['long'] = demo['long'].astype(float)
# remove lats/longs outside detroit
demo = demo[demo['lat'] > 41.0]
demo = demo[demo['lat'] < 45.0]
demo.head()

              address        lat       long origin
0        4331  BARHAM  42.394106 -82.947400   demo
1     9707  BESSEMORE  42.395122 -83.005077   demo
2     5315  BERKSHIRE  42.403220 -82.946476   demo
3  16670  BRINGARD DR  42.446640 -82.947207   demo
4      1454  BEATRICE  42.276956 -83.147536   demo

In [45]:
# read and clean blight data
blight = pd.read_csv('data/detroit-blight-violations.csv')
blight['address'] = blight['ViolationAddress'].str.split('\n', expand=True)[0]
blight['lat'] = blight['ViolationAddress'].str.split('\n', expand=True)[2].str.split(', ', expand=True)[0].str.replace('(', '')
blight['long'] = blight['ViolationAddress'].str.split('\n', expand=True)[2].str.split(', ', expand=True)[1].str.replace(')', '')
blight = blight[['address', 'lat', 'long']]
blight['origin'] = 'blight'
blight = blight[pd.notnull(blight['lat'])]
blight = blight[pd.notnull(blight['long'])]
blight['lat'] = blight['lat'].astype(float)
blight['long'] = blight['long'].astype(float)
blight.head()

           address        lat       long  origin
0  2566 GRAND BLVD  42.363182 -83.091677  blight
1     19014 ASHTON  42.429391 -83.220394  blight
2   18735 STAHELIN  42.428707 -83.227548  blight
3     20125 MONICA  42.441698 -83.145018  blight
4    17397 PRAIRIE  42.420318 -83.145328  blight

In [49]:
d = crime.append([_311, demo, blight])
d.shape

(453343, 4)

In [20]:
import gmplot
gmap = gmplot.GoogleMapPlotter(42.4, -83.1, 12)
gmap.heatmap(crime['lat'], crime['long'])
gmap.draw("detroit.html")