In [117]:
import pandas as pd

In [118]:
# read and clean crime data
crime = pd.read_csv('data/detroit-crime.csv')
crime = crime[['ADDRESS', 'LAT', 'LON']]
crime.columns = ['address', 'lat', 'long']
crime['origin'] = 'crime'
# remove lats outside detroit
crime = crime[crime['lat'] > 41.0]
crime = crime[crime['lat'] < 45.0]
crime.head()

                     address      lat     long origin
0             09100 PETOSKEY  42.3678 -83.1221  crime
1  00 PLYMOUTH AND MANSFIELD  42.3724 -83.2035  crime
2      00 E 7 MILE  VAN DYKE  42.4338 -83.0241  crime
3               06600 BARTON  42.3496 -83.1381  crime
4             00900 W WILLIS  42.3481 -83.0692  crime

In [119]:
# read and clean 311 data
_311 = pd.read_csv('data/detroit-311.csv')
_311 = _311[['address', 'lat', 'lng']]
_311.columns = ['address', 'lat', 'long']
_311['origin'] = '311'
_311.head()

,address,lat,long,origin
0,"13120-13130 Ilene Street Detroit, MI 48238, USA",42.383998,-83.161039,311
1,"1485 E. Outer Drive Detroit, Michigan",42.440471,-83.080919,311
2,"15460 Eastburn Detroit, Michigan",42.445244,-82.962038,311
3,"17541 Mendota St Detroit, Michigan",42.421043,-83.166194,311
4,"Griggs Detroit, Michigan",42.402033,-83.162874,311

In [120]:
# read and clean demo data
demo = pd.read_csv('data/detroit-demolition-permits.tsv', sep='\t')
demo = demo[['SITE_ADDRESS', 'site_location']]
demo['lat'] = demo['site_location'].str.split('\n', expand=True)[2].str.split(', ', expand=True)[0].str.replace('(', '')
demo['long'] = demo['site_location'].str.split('\n', expand=True)[2].str.split(', ', expand=True)[1].str.replace(')', '')
demo = demo[['SITE_ADDRESS', 'lat', 'long']]
demo.columns = ['address', 'lat', 'long']
demo['origin'] = 'demo'
demo = demo[pd.notnull(demo['lat'])]
demo = demo[pd.notnull(demo['long'])]
demo['lat'] = demo['lat'].astype(float)
demo['long'] = demo['long'].astype(float)
# remove lats/longs outside detroit
demo = demo[demo['lat'] > 41.0]
demo = demo[demo['lat'] < 45.0]
demo.head()

              address        lat       long origin
0        4331  BARHAM  42.394106 -82.947400   demo
1     9707  BESSEMORE  42.395122 -83.005077   demo
2     5315  BERKSHIRE  42.403220 -82.946476   demo
3  16670  BRINGARD DR  42.446640 -82.947207   demo
4      1454  BEATRICE  42.276956 -83.147536   demo

In [121]:
# read and clean blight data
blight = pd.read_csv('data/detroit-blight-violations.csv')
blight['address'] = blight['ViolationAddress'].str.split('\n', expand=True)[0]
blight['lat'] = blight['ViolationAddress'].str.split('\n', expand=True)[2].str.split(', ', expand=True)[0].str.replace('(', '')
blight['long'] = blight['ViolationAddress'].str.split('\n', expand=True)[2].str.split(', ', expand=True)[1].str.replace(')', '')
blight = blight[['address', 'lat', 'long']]
blight['origin'] = 'blight'
blight = blight[pd.notnull(blight['lat'])]
blight = blight[pd.notnull(blight['long'])]
blight['lat'] = blight['lat'].astype(float)
blight['long'] = blight['long'].astype(float)
blight.head()

           address        lat       long  origin
0  2566 GRAND BLVD  42.363182 -83.091677  blight
1     19014 ASHTON  42.429391 -83.220394  blight
2   18735 STAHELIN  42.428707 -83.227548  blight
3     20125 MONICA  42.441698 -83.145018  blight
4    17397 PRAIRIE  42.420318 -83.145328  blight

In [122]:
d = crime.append([_311, demo, blight])
d.to_csv('d.csv', index=False)
d = d.reset_index(drop=True)
print d.shape
d.head()

(453343, 4)

                     address      lat     long origin
0             09100 PETOSKEY  42.3678 -83.1221  crime
1  00 PLYMOUTH AND MANSFIELD  42.3724 -83.2035  crime
2      00 E 7 MILE  VAN DYKE  42.4338 -83.0241  crime
3               06600 BARTON  42.3496 -83.1381  crime
4             00900 W WILLIS  42.3481 -83.0692  crime

In [123]:
import gmplot
gmap = gmplot.GoogleMapPlotter(42.4, -83.1, 12)
gmap.heatmap(d['lat'], d['long'])
gmap.draw("detroit.html")

In [124]:
# format addresses to do fuzzy matching
# 1) normalize
# 2) featurize
# 3) classify
# 4) scoring

# taken largely from http://blog.yhat.com/posts/fuzzy-matching-with-yhat.html

In [131]:
# 1) normalize

# remove punctuation and capitalize everything
import string
import re
exclude = set(string.punctuation)

def clean_string(s):
    # capitalize
    s = s.upper()
    # remove punctuation
    s = ''.join(ch for ch in s if ch not in exclude)
    s = s.replace('DETROIT MICHIGAN', '')
    s = s.replace('DETROIT, MICHIGAN', '')
    s = s.replace('DETROIT, MI', '')
    s = s.replace('DETROIT MI', '')
    s = s.replace('STREET', 'ST')
    s = s.replace('ROAD', 'RD')
    s = s.replace(' R ', 'RD ')
    s = s.replace('BOULEVARD', 'BLVD')
    s = s.replace('AVENUE', 'AVE')
    s = s.replace('DRIVE',  'DR')
    s = s.replace(' W ', ' WEST ')
    s = s.replace(' E ', ' EAST ')
    s = s.replace(' S ', ' SOUTH ')
    s = s.replace(' N ', ' NORTH ')
    return s

d['address_clean'] = d['address'].apply(clean_string)

In [142]:
# test again
# find most common words
addresses = d['address_clean'].values
split_addresses = [x.split(' ') for x in addresses]
unique_words = [item for sublist in split_addresses for item in sublist if len(item) > 0]
from collections import Counter
Counter(unique_words).most_common()

[('00', 24467),
 ('ST', 14694),
 ('WEST', 10010),
 ('GRAND', 8128),
 ('AND', 7686),
 ('EAST', 7653),
 ('RD', 7293),
 ('DR', 6450),
 ('BLVD', 5320),
 ('MCNICHOLS', 5223),
 ('MILE', 4945),
 ('SEVEN', 4808),
 ('RIVER', 4394),
 ('WARREN', 4324),
 ('LIVERNOIS', 4225),
 ('PARK', 4120),
 ('GRATIOT', 3941),
 ('AVE', 3323),
 ('OUTER', 3038),
 ('WOODWARD', 3034),
 ('GREENFIELD', 2963),
 ('USA', 2935),
 ('EVERGREEN', 2808),
 ('JEFFERSON', 2724),
 ('JOY', 2668),
 ('APT', 2650),
 ('FENKELL', 2641),
 ('MICHIGAN', 2519),
 ('ASBURY', 2429),
 ('CHICAGO', 2256),
 ('SCHAEFER', 2231),
 ('00000', 2210),
 ('WYOMING', 2147),
 ('VAN', 2135),
 ('7', 2042),
 ('ASHTON', 2008),
 ('ARCHDALE', 1998),
 ('PLYMOUTH', 1943),
 ('HARPER', 1891),
 ('EIGHT', 1886),
 ('MEYERS', 1884),
 ('APPOLINE', 1867),
 ('SANTA', 1784),
 ('FORRER', 1681),
 ('VERNOR', 1680),
 ('FORT', 1649),
 ('COYLE', 1610),
 ('NORTHLAWN', 1589),
 ('KENTUCKY', 1572),
 ('MANSFIELD', 1559),
 ('DAVISON', 1547),
 ('AUBURN', 1535),
 ('ARDMORE', 1528),
 ('19300', 1508),
 ('STOUT', 1498),
 ('PURITAN', 1491),
 ('INDIANA', 1481),
 ('PATTON', 1474),
 ('HEYDEN', 1458),
 ('FIELDING', 1456),
 ('SUSSEX', 1444),
 ('VISTA', 1444),
 ('MARK', 1432),
 ('FAUST', 1424),
 ('STAHELIN', 1417),
 ('VAUGHAN', 1404),
 ('HUBBELL', 1395),
 ('FREELAND', 1388),
 ('WINTHROP', 1384),
 ('PLAINVIEW', 1375),
 ('STATE', 1375),
 ('MACK', 1355),
 ('CLEMENTS', 1343),
 ('SCHOOLCRAFT', 1333),
 ('LAFAYETTE', 1328),
 ('BILTMORE', 1321),
 ('TIREMAN', 1314),
 ('JOHN', 1311),
 ('MT', 1306),
 ('GRANDVILLE', 1304),
 ('RUTHERFORD', 1296),
 ('STOEPEL', 1294),
 ('LAUDER', 1281),
 ('BIRWOOD', 1274),
 ('18400', 1255),
 ('WHITCOMB', 1238),
 ('HARTWELL', 1237),
 ('DEXTER', 1234),
 ('BURT', 1216),
 ('ROBSON', 1215),
 ('MONICA', 1207),
 ('WARWICK', 1206),
 ('PRAIRIE', 1200),
 ('CHERRYLAWN', 1188),
 ('CHALMERS', 1187),
 ('HELEN', 1178),
 ('WARD', 1177),
 ('MANOR', 1177),
 ('CENTRAL', 1176),
 ('GREENLAWN', 1171),
 ('MINOCK', 1170),
 ('SOUTHFIELD', 1160),
 ('18600', 1157),
 ('8', 1157),
 ('LAHSER', 1154),
 ('GREENVIEW', 1144),
 ('ROSELAWN', 1142),
 ('PINEHURST', 1141),
 ('BEACONSFIELD', 1141),
 ('OHIO', 1122),
 ('FERGUSON', 1116),
 ('LINWOOD', 1115),
 ('MENDOTA', 1108),
 ('WISCONSIN', 1096),
 ('ROSEMONT', 1090),
 ('PIERSON', 1088),
 ('ARTESIAN', 1075),
 ('CONANT', 1074),
 ('19400', 1071),
 ('BRAILE', 1061),
 ('SORRENTO', 1051),
 ('ALTER', 1043),
 ('PREST', 1038),
 ('19100', 1035),
 ('CHEYENNE', 1034),
 ('LITTLEFIELD', 1022),
 ('20200', 1016),
 ('CT', 1008),
 ('MARLOWE', 1004),
 ('AMERICAN', 995),
 ('00600', 988),
 ('CASS', 980),
 ('METTETAL', 972),
 ('EUCLID', 970),
 ('CLAIRMOUNT', 968),
 ('15700', 965),
 ('LAKEWOOD', 964),
 ('20000', 964),
 ('15800', 963),
 ('WESTWOOD', 963),
 ('WESTBROOK', 960),
 ('STRATHMOOR', 955),
 ('15400', 951),
 ('WASHBURN', 948),
 ('CHENE', 947),
 ('SOUTH', 938),
 ('PREVOST', 937),
 ('18900', 937),
 ('FO', 937),
 ('MONTROSE', 926),
 ('19900', 918),
 ('KENTFIELD', 917),
 ('JAMES', 914),
 ('BENTLER', 910),
 ('ROSA', 909),
 ('NOTTINGHAM', 901),
 ('00500', 894),
 ('ASHLAND', 886),
 ('CONCORD', 870),
 ('00400', 870),
 ('19700', 869),
 ('16800', 865),
 ('ABINGTON', 864),
 ('FULLERTON', 860),
 ('STEEL', 860),
 ('CONNER', 849),
 ('TRINITY', 837),
 ('PENROD', 830),
 ('BRACE', 829),
 ('14800', 828),
 ('PIEDMONT', 828),
 ('EVANSTON', 827),
 ('17100', 824),
 ('16500', 819),
 ('BUENA', 819),
 ('02900', 818),
 ('MEMORIAL', 818),
 ('20100', 816),
 ('12000', 814),
 ('ILENE', 812),
 ('GRIGGS', 811),
 ('CORTLAND', 809),
 ('WAYBURN', 794),
 ('18000', 792),
 ('CALVERT', 782),
 ('GILCHRIST', 778),
 ('BEAVERLAND', 777),
 ('BALFOUR', 776),
 ('15000', 774),
 ('TERRY', 773),
 ('19200', 767),
 ('LINDSAY', 764),
 ('FENMORE', 763),
 ('15300', 761),
 ('WHITTIER', 759),
 ('BRENTWOOD', 752),
 ('RUTLAND', 751),
 ('05000', 747),
 ('17600', 747),
 ('GODDARD', 739),
 ('TRUMBULL', 739),
 ('19600', 733),
 ('CHAPEL', 732),
 ('TACOMA', 726),
 ('MOROSS', 726),
 ('20400', 718),
 ('17300', 714),
 ('STANSBURY', 710),
 ('08000', 708),
 ('16100', 706),
 ('01400', 704),
 ('TYLER', 701),
 ('ORLEANS', 698),
 ('LAKEPOINTE', 697),
 ('BRAMELL', 695),
 ('WOODMONT', 694),
 ('12800', 692),
 ('20500', 692),
 ('CADIEUX', 690),
 ('MANNING', 689),
 ('MORANG', 689),
 ('BURLINGAME', 689),
 ('GLASTONBURY', 686),
 ('HILL', 686),
 ('TUXEDO', 682),
 ('18200', 681),
 ('05100', 676),
 ('CLOVERLAWN', 675),
 ('01300', 675),
 ('04200', 674),
 ('SECOND', 674),
 ('FOREST', 671),
 ('LONGACRE', 670),
 ('MOUND', 669),
 ('13500', 668),
 ('MURRAY', 663),
 ('OAKFIELD', 661),
 ('18500', 660),
 ('ALGONQUIN', 655),
 ('14200', 653),
 ('HULL', 652),
 ('HAZELWOOD', 651),
 ('PEMBROKE', 651),
 ('05200', 649),
 ('VIRGINIA', 648),
 ('CANFIELD', 648),
 ('ANGLIN', 648),
 ('12700', 647),
 ('NEVADA', 646),
 ('TRACEY', 645),
 ('PARKS', 641),
 ('LYNDON', 639),
 ('PHILADELPHIA', 635),
 ('LESURE', 635),
 ('CADILLAC', 633),
 ('RUSSELL', 633),
 ('BARLOW', 632),
 ('COURVILLE', 628),
 ('PL', 627),
 ('FLANDERS', 622),
 ('MONTE', 622),
 ('TAYLOR', 622),
 ('BUFFALO', 621),
 ('CALDWELL', 620),
 ('02700', 617),
 ('CAMPBELL', 616),
 ('GRANDMONT', 615),
 ('BEDFORD', 615),
 ('DYKE', 615),
 ('16200', 614),
 ('GALLAGHER', 610),
 ('SEWARD', 608),
 ('KELLY', 606),
 ('17500', 604),
 ('02600', 603),
 ('08200', 603),
 ('ALCOY', 603),
 ('WESTPHALIA', 603),
 ('01900', 602),
 ('12600', 601),
 ('11300', 600),
 ('GABLE', 597),
 ('KING', 597),
 ('SNOWDEN', 594),
 ('FORD', 594),
 ('11400', 593),
 ('MCDOUGALL', 593),
 ('CRUSE', 590),
 ('BLOOM', 588),
 ('01000', 585),
 ('WEBB', 584),
 ('LAWTON', 583),
 ('WALTHAM', 583),
 ('CHELSEA', 582),
 ('GOULBURN', 582),
 ('OAKMAN', 580),
 ('HOLCOMB', 578),
 ('14400', 578),
 ('09100', 577),
 ('SAN', 576),
 ('MANISTIQUE', 575),
 ('06000', 573),
 ('GRAYTON', 571),
 ('LODGE', 570),
 ('02500', 569),
 ('HARDING', 568),
 ('02200', 568),
 ('ELMHURST', 564),
 ('14500', 563),
 ('MARLBOROUGH', 563),
 ('14100', 562),
 ('ATKINSON', 561),
 ('14300', 560),
 ('FISCHER', 556),
 ('03900', 555),
 ('10000', 554),
 ('SOMERSET', 554),
 ('LAWNDALE', 554),
 ('LENOX', 553),
 ('CIRCLE', 552),
 ('BURNS', 551),
 ('09900', 550),
 ('07700', 550),
 ('CHAREST', 550),
 ('BRUSH', 550),
 ('FAIRPORT', 549),
 ('HOOVER', 548),
 ('02000', 547),
 ('BUCKINGHAM', 546),
 ('02400', 544),
 ('THIRD', 543),
 ('14000', 541),
 ('MARTIN', 539),
 ('EDSEL', 539),
 ('LARNED', 537),
 ('BLAINE', 534),
 ('BRYDEN', 534),
 ('DICKERSON', 534),
 ('08100', 532),
 ('SPRINGWELLS', 532),
 ('WOODINGHAM', 531),
 ('00100', 531),
 ('TELEGRAPH', 530),
 ('WILDEMERE', 530),
 ('BURGESS', 529),
 ('14TH', 529),
 ('09300', 526),
 ('03400', 523),
 ('11700', 523),
 ('14900', 521),
 ('CURTIS', 521),
 ('08800', 521),
 ('BLACKSTONE', 520),
 ('WILFRED', 519),
 ('04800', 518),
 ('GLENFIELD', 517),
 ('11600', 517),
 ('AT', 516),
 ('FAIR', 516),
 ('01700', 515),
 ('NEWPORT', 515),
 ('16600', 514),
 ('ANDOVER', 512),
 ('SYRACUSE', 511),
 ('00200', 510),
 ('SCHOENHERR', 508),
 ('18700', 507),
 ('09500', 506),
 ('GREYDALE', 505),
 ('ROCKDALE', 504),
 ('CARDONI', 504),
 ('FIELD', 503),
 ('IROQUOIS', 503),
 ('01200', 503),
 ('QUINCY', 503),
 ('05500', 502),
 ('EWALD', 502),
 ('DOLPHIN', 501),
 ('MITCHELL', 498),
 ('02100', 498),
 ('JOS', 497),
 ('14600', 497),
 ('09200', 496),
 ('HICKORY', 495),
 ('CEDARGROVE', 493),
 ('00700', 491),
 ('MILITARY', 489),
 ('13900', 488),
 ('05700', 486),
 ('03700', 484),
 ('HARLOW', 484),
 ('CANTON', 482),
 ('07400', 481),
 ('CARRIE', 480),
 ('PHILIP', 479),
 ('GARLAND', 478),
 ('WOODBINE', 477),
 ('LAMPHERE', 477),
 ('CRANE', 476),
 ('PASADENA', 475),
 ('VINEWOOD', 475),
 ('CHATHAM', 474),
 ('ANTOINE', 474),
 ('17200', 474),
 ('ALBION', 473),
 ('BELVIDERE', 473),
 ('HAYES', 472),
 ('01500', 472),
 ('KENSINGTON', 471),
 ('FAIRFIELD', 470),
 ('CHRYSLER', 470),
 ('04100', 469),
 ('04600', 469),
 ('RIOPELLE', 468),
 ('MARYS', 468),
 ('PINGREE', 467),
 ('07300', 466),
 ('GRANDRR', 464),
 ('RYAN', 458),
 ('TULLER', 457),
 ('CHANDLER', 457),
 ('15500', 457),
 ('DRESDEN', 457),
 ('12100', 456),
 ('MAIDEN', 456),
 ('FLEMING', 456),
 ('00300', 455),
 ('GLADSTONE', 455),
 ('RICHTON', 454),
 ('MOENART', 454),
 ('GLENDALE', 454),
 ('04400', 453),
 ('BINDER', 451),
 ('04300', 451),
 ('06300', 450),
 ('04700', 447),
 ('GREELEY', 447),
 ('OF', 446),
 ('08600', 446),
 ('MARYLAND', 445),
 ('ALBANY', 444),
 ('ANNOTT', 444),
 ('LIBERAL', 444),
 ('YORKSHIRE', 443),
 ('EASTLAWN', 441),
 ('03200', 441),
 ('HAVERHILL', 440),
 ('CHALFONTE', 439),
 ('CARLISLE', 438),
 ('RUNYON', 437),
 ('FERRY', 436),
 ('HAMBURG', 436),
 ('01100', 436),
 ('18100', 435),
 ('03500', 435),
 ('PARKWAY', 434),
 ('13600', 434),
 ('CAMDEN', 434),
 ('BRDWAY', 430),
 ('SERVICE', 430),
 ('RIVERVIEW', 429),
 ('GLYNN', 428),
 ('09600', 427),
 ('DEQUINDRE', 427),
 ('BRDST', 425),
 ('PELKEY', 424),
 ('03000', 424),
 ('COMMONWEALTH', 420),
 ('HARVARD', 418),
 ('08300', 418),
 ('DEVONSHIRE', 417),
 ('04000', 414),
 ('AVON', 413),
 ('KERCHEVAL', 412),
 ('EASTWOOD', 411),
 ('STRASBURG', 410),
 ('DWYER', 410),
 ('BALDWIN', 410),
 ('DACOSTA', 408),
 ('15100', 407),
 ('WINSTON', 406),
 ('BURNETTE', 404),
 ('BAGLEY', 404),
 ('SCHOOL', 403),
 ('NORTH', 403),
 ('05900', 403),
 ('MARX', 402),
 ('08500', 401),
 ('16700', 399),
 ('15TH', 397),
 ('KILBOURNE', 397),
 ('11100', 396),
 ('BAYLIS', 396),
 ('03300', 395),
 ('LA', 393),
 ('COLLINGWOOD', 393),
 ('13100', 392),
 ('SEMINOLE', 392),
 ('BEAUBIEN', 391),
 ('ROXBURY', 391),
 ('SALLE', 388),
 ('03800', 388),
 ('JOANN', 388),
 ('COLUMBUS', 388),
 ('03600', 387),
 ('TURNER', 387),
 ('06800', 385),
 ('BEATRICE', 385),
 ('CABOT', 382),
 ('00800', 382),
 ('STOTTER', 381),
 ('01600', 381),
 ('CARLIN', 379),
 ('ALEXANDRINE', 377),
 ('PALMER', 376),
 ('DEAN', 375),
 ('MACKAY', 375),
 ('HEREFORD', 375),
 ('BEWICK', 374),
 ('DETROIT', 373),
 ('PARKSIDE', 372),
 ('02300', 371),
 ('LUMPKIN', 370),
 ('BOSTON', 369),
 ('LIDDESDALE', 369),
 ('MCGRAW', 368),
 ('LOG', 366),
 ('WAVERLY', 365),
 ('FENELON', 364),
 ('LAWRENCE', 364),
 ('MUIRLAND', 364),
 ('IRVINGTON', 363),
 ('R', 363),
 ('LONGVIEW', 362),
 ('WASHINGTON', 362),
 ('GUILFORD', 360),
 ('TH', 360),
 ('08400', 359),
 ('SHERIDAN', 359),
 ('ROSSINI', 359),
 ('06400', 359),
 ('07600', 358),
 ('JUSTINE', 356),
 ('TOWNSEND', 356),
 ('SARATOGA', 356),
 ('06500', 354),
 ('HOUSTON', 354),
 ('JUNCTION', 354),
 ('LONYO', 353),
 ('NEFF', 352),
 ('ELMDALE', 351),
 ('EASTBURN', 351),
 ('BRINGARD', 351),
 ('SEYBURN', 347),
 ('LAPPIN', 347),
 ('ANNABELLE', 346),
 ('HOLLYWOOD', 346),
 ('WAYNE', 346),
 ('MCCLELLAN', 345),
 ('CAMERON', 344),
 ('ELMIRA', 344),
 ('PENNSYLVANIA', 343),
 ('PETOSKEY', 343),
 ('06700', 343),
 ('00900', 342),
 ('STURTEVANT', 340),
 ('FORDHAM', 340),
 ('05600', 339),
 ('FAIRMOUNT', 339),
 ('TEPPERT', 339),
 ('MORRELL', 338),
 ('HASSE', 338),
 ('15600', 337),
 ('07200', 336),
 ('12300', 335),
 ('LUTHER', 335),
 ('HURLBUT', 334),
 ('18300', 334),
 ('WOODROW', 332),
 ('19800', 332),
 ('FRENCH', 331),
 ('GROVE', 330),
 ('WADE', 329),
 ('05800', 328),
 ('15200', 326),
 ('06100', 325),
 ('12500', 325),
 ('WABASH', 324),
 ('17700', 323),
 ('WILSHIRE', 322),
 ('FAIRCREST', 322),
 ('FAIRVIEW', 321),
 ('KENDALL', 321),
 ('19500', 321),
 ('TROESTER', 320),
 ('12200', 319),
 ('13300', 319),
 ('SEYMOUR', 318),
 ('GLENWOOD', 318),
 ('ALLENDALE', 318),
 ('SALEM', 318),
 ('16900', 316),
 ('MADDELEIN', 316),
 ('CORBETT', 316),
 ('INVERNESS', 315),
 ('ROHNS', 314),
 ('BRADFORD', 314),
 ('18800', 314),
 ('ETHEL', 313),
 ('13200', 313),
 ('RADNOR', 312),
 ('HOLMUR', 312),
 ('PROMENADE', 312),
 ('13000', 311),
 ('DALE', 310),
 ('COPLIN', 310),
 ('ROWE', 308),
 ('LOTHROP', 308),
 ('30TH', 307),
 ('MAPLERIDGE', 306),
 ('MONTCLAIR', 306),
 ('KIRBY', 306),
 ('WOODMERE', 305),
 ('07800', 305),
 ('ALMA', 305),
 ('CASPER', 304),
 ('LESLIE', 304),
 ('11500', 304),
 ('CHATSWORTH', 303),
 ('WOODHALL', 302),
 ('10400', 302),
 ('08900', 301),
 ('KLINGER', 301),
 ('JOHNRD', 301),
 ('LINNHURST', 301),
 ('GRISWOLD', 300),
 ('16TH', 300),
 ('15900', 300),
 ('LANE', 299),
 ('MARTINDALE', 299),
 ('DREXEL', 299),
 ('12900', 298),
 ('LAKEVIEW', 298),
 ('SCOTTEN', 297),
 ('C', 296),
 ('COLLINGHAM', 295),
 ('MONTEREY', 295),
 ('GARDEN', 295),
 ('YOUNG', 294),
 ('04500', 294),
 ('17400', 294),
 ('TARNOW', 293),
 ('CONLEY', 292),
 ('14700', 292),
 ('BISHOP', 292),
 ('WHITMORE', 291),
 ('CHOPIN', 291),
 ('SHIELDS', 290),
 ('PARKER', 290),
 ('19000', 290),
 ('7MILE', 287),
 ('HAGUE', 287),
 ('48224', 287),
 ('48221', 286),
 ('SUNDERLAND', 285),
 ('PILGRIM', 284),
 ('11000', 284),
 ('TWAIN', 283),
 ('BELAND', 283),
 ('WHITEHILL', 281),
 ('MCKINNEY', 280),
 ('CHRISTY', 280),
 ('CONGRESS', 280),
 ('THREE', 277),
 ('WILLIS', 277),
 ('DEACON', 277),
 ('FENTON', 276),
 ('LENORE', 276),
 ('BASSETT', 276),
 ('ARLINGTON', 275),
 ('CARTER', 275),
 ('16000', 272),
 ('MAXWELL', 272),
 ('0', 271),
 ('CORAM', 271),
 ('GRAY', 271),
 ('11800', 268),
 ('LONGFELLOW', 268),
 ('SUNSET', 268),
 ('MI', 267),
 ('24TH', 267),
 ('NOVARA', 267),
 ('COLFAX', 266),
 ('KEYSTONE', 265),
 ('MARSTON', 265),
 ('ROBINWOOD', 264),
 ('ROSEMARY', 263),
 ('SPRING', 262),
 ('07500', 262),
 ('HEALY', 262),
 ('RADEMACHER', 260),
 ('OAKLAND', 259),
 ('EDISON', 259),
 ('GREINER', 258),
 ('NORWOOD', 258),
 ('ELLIOTT', 257),
 ('ALGONAC', 257),
 ('05300', 256),
 ('OMIRA', 256),
 ('GREEN', 254),
 ('WHITHORN', 253),
 ('HAWTHORNE', 252),
 ('AUBIN', 251),
 ('MARGARETA', 250),
 ('WEXFORD', 249),
 ('10100', 249),
 ('RIVARD', 248),
 ('25TH', 246),
 ('DET', 246),
 ('UNIVERSITY', 246),
 ('HANNA', 246),
 ('1509', 245),
 ('FARMBROOK', 245),
 ('10300', 245),
 ('TOLEDO', 244),
 ('DECATUR', 244),
 ('ELLSWORTH', 244),
 ('06200', 243),
 ('09000', 243),
 ('WORMER', 242),
 ('CASCADE', 242),
 ('BERKSHIRE', 242),
 ('MAYFIELD', 241),
 ('13800', 240),
 ('06600', 240),
 ('EDMORE', 239),
 ('WARRINGTON', 239),
 ('PARKINSON', 238),
 ('SPENCER', 238),
 ('HUNTINGTON', 236),
 ('HANCOCK', 235),
 ('COVINGTON', 234),
 ('48226', 234),
 ('11200', 234),
 ('GREENDALE', 233),
 ('COLLEGE', 233),
 ('BELMONT', 233),
 ('09400', 233),
 ('HAZELRIDGE', 232),
 ('CLARK', 230),
 ('NAVAHOE', 230),
 ('BENITEAU', 229),
 ('MARSEILLES', 228),
 ('NAVY', 228),
 ('MORAN', 228),
 ('CHARLEVOIX', 227),
 ('GAS', 227),
 ('10800', 227),
 ('01800', 227),
 ('COOPER', 226),
 ('FRANKFORT', 226),
 ('DUCHESS', 226),
 ('SELDEN', 226),
 ('MCCORMICK', 226),
 ('PLACE', 225),
 ('SAWYER', 225),
 ('CLARENDON', 224),
 ('6', 224),
 ('DIX', 224),
 ('17TH', 223),
 ('HILDALE', 223),
 ('CICOTTE', 221),
 ('SEEBALDT', 221),
 ('GOLDEN', 220),
 ('MONROE', 220),
 ('BAYSIDE', 220),
 ('EPWORTH', 219),
 ('LODEWYCK', 219),
 ('12400', 219),
 ('YACAMA', 219),
 ('LANSING', 219),
 ('LEMAY', 218),
 ('02800', 218),
 ('ORANGELAWN', 217),
 ('WESTMORELAND', 217),
 ('13700', 217),
 ('MINDEN', 216),
 ('FITZPATRICK', 216),
 ('08700', 216),
 ('BELLEVUE', 216),
 ('10600', 215),
 ('IVANHOE', 215),
 ('SHARON', 215),
 ('MARGARET', 214),
 ('WATERMAN', 213),
 ('DORIS', 213),
 ('SD', 212),
 ('SHERWOOD', 212),
 ('CAHALAN', 211),
 ('ROSEDALE', 211),
 ('PRINCETON', 211),
 ('FRISBEE', 211),
 ('FINDLAY', 211),
 ('DERBY', 211),
 ('600', 210),
 ('LAMONT', 210),
 ('SAVANNAH', 210),
 ('LILLIBRIDGE', 209),
 ('07000', 209),
 ('HIGHLAND', 209),
 ('48228', 209),
 ('CASGRAIN', 209),
 ('CECIL', 208),
 ('BRAINARD', 208),
 ('48202', 207),
 ('ROGGE', 206),
 ('LAING', 205),
 ('BEECHWOOD', 205),
 ('ROCHELLE', 204),
 ('10700', 203),
 ('COURT', 203),
 ('HUBBARD', 202),
 ('23RD', 202),
 ('STATION', 200),
 ('PARKING', 200),
 ('REVERE', 200),
 ('16400', 200),
 ('13400', 199),
 ('17800', 199),
 ('03100', 199),
 ('HIGH', 198),
 ('JANE', 198),
 ('1', 197),
 ('KEATING', 197),
 ('PACKARD', 197),
 ('LASALLE', 197),
 ('05400', 196),
 ('BARBARA', 196),
 ('PENNINGTON', 196),
 ('OREGON', 196),
 ('VANCOUVER', 195),
 ('PACIFIC', 195),
 ('LANTZ', 194),
 ('JUAN', 194),
 ('10500', 194),
 ('FREDERICK', 194),
 ('MAINE', 193),
 ('CLIFTON', 193),
 ('PROCTOR', 193),
 ('NB', 192),
 ('SB', 192),
 ('PICKFORD', 192),
 ('SENATOR', 192),
 ('EUREKA', 192),
 ('FERDINAND', 190),
 ('HOLBROOK', 189),
 ('WHITNEY', 188),
 ('LONGWORTH', 188),
 ('OLIVET', 187),
 ('ANNCHESTER', 187),
 ('DRAGOON', 186),
 ('THATCHER', 185),
 ('CARSON', 185),
 ('CLOVERDALE', 184),
 ('DESOTO', 183),
 ('2', 183),
 ('GRIXDALE', 182),
 ('CAMPAU', 182),
 ('LARKINS', 182),
 ('ELECTRIC', 181),
 ('TRENTON', 181),
 ('SENECA', 180),
 ('GRANDVIEW', 180),
 ('BRIMSON', 180),
 ('PORTER', 180),
 ('BEGOLE', 179),
 ('DELAWARE', 179),
 ('3RD', 178),
 ('10TH', 178),
 ('WOODLAND', 176),
 ('FISHER', 176),
 ('DANBURY', 176),
 ('GREENSBORO', 176),
 ('11900', 176),
 ('07100', 176),
 ('ND', 175),
 ('NORMANDY', 175),
 ('LOT', 174),
 ('48201', 173),
 ('FLORIDA', 173),
 ('MADISON', 172),
 ('PETERBORO', 172),
 ('WESTMINSTER', 171),
 ('GILBERT', 171),
 ('ROSSITER', 170),
 ('MAJESTIC', 170),
 ('BEARD', 169),
 ('LINCOLN', 169),
 ('ANDERDON', 168),
 ('ALGER', 168),
 ('AUDUBON', 167),
 ('PRENTIS', 166),
 ('REGENT', 166),
 ('ANTHONY', 165),
 ('1401', 165),
 ('ALLONBY', 165),
 ('WYKES', 164),
 ('ARIZONA', 164),
 ('MILWAUKEE', 164),
 ('MELBOURNE', 164),
 ('10200', 163),
 ('OAKDALE', 162),
 ('PINEWOOD', 161),
 ('CAVALRY', 161),
 ('RANDOLPH', 161),
 ('SHIAWASSEE', 161),
 ('FARNSWORTH', 160),
 ('WESSON', 160),
 ('8200', 160),
 ('POE', 160),
 ('LUMLEY', 159),
 ('NASHVILLE', 158),
 ('KITCHENER', 158),
 ('MANDERSON', 157),
 ('CHARLESTON', 157),
 ('MCKINSTRY', 157),
 ('48207', 156),
 ('PAYTON', 156),
 ('APPLETON', 156),
 ('HARMON', 156),
 ('MERTON', 156),
 ('18TH', 156),
 ('CASINO', 155),
 ('HARNED', 155),
 ('SHAFTSBURY', 154),
 ('CLIFF', 154),
 ('22100', 154),
 ('COVENTRY', 153),
 ('20300', 153),
 ('CHARLES', 153),
 ('ADELINE', 152),
 ('48238', 152),
 ('AVERY', 152),
 ('21400', 151),
 ('FWY', 151),
 ('VICKSBURG', 151),
 ('GRAYFIELD', 151),
 ('CHURCHILL', 150),
 ('ASHLEY', 150),
 ('GARTNER', 150),
 ('ROOSEVELT', 149),
 ('ADAMS', 149),
 ('SANFORD', 149),
 ('48234', 148),
 ('48227', 148),
 ('YELLOWSTONE', 148),
 ('MARIA', 148),
 ('COOLEY', 147),
 ('STOCKTON', 147),
 ('10900', 147),
 ('28TH', 147),
 ('BURNSIDE', 147),
 ('FLOYD', 146),
 ('KENILWORTH', 146),
 ('PALLISTER', 146),
 ('OGDEN', 146),
 ('EXETER', 145),
 ('HOUSE', 145),
 ('48214', 145),
 ('HAMPSHIRE', 144),
 ('04900', 144),
 ('8100', 144),
 ('FLORENCE', 143),
 ('GUNSTON', 143),
 ('COLONIAL', 143),
 ('EDINBOROUGH', 143),
 ('RENVILLE', 143),
 ('09700', 142),
 ('BESSEMORE', 142),
 ('VOTROBECK', 142),
 ('ENGLEWOOD', 142),
 ('AUGUST', 142),
 ('48219', 142),
 ('MONTGOMERY', 141),
 ('48208', 140),
 ('M', 140),
 ('CLAIR', 139),
 ('L', 139),
 ('ELMER', 138),
 ('22000', 138),
 ('GEORGIA', 138),
 ('HOUGHTON', 138),
 ('PARKWOOD', 137),
 ('31ST', 137),
 ('LORETTO', 137),
 ('LANSDOWNE', 137),
 ('LINSDALE', 136),
 ('BELLETERRE', 136),
 ('SAINT', 136),
 ('HOMER', 136),
 ...]

In [143]:
# find what to add/subtract to lat/long to box addresses
import geopy
import geopy.distance

lat_diff = .00035
long_diff = .0005

lat = 42.3678
long = -83.1221

pt1 = geopy.Point(lat, long)
pt2 = geopy.Point(lat + lat_diff, long)
# distance.distance() is the  VincentyDistance by default.
dist = geopy.distance.distance(pt1, pt2).mi
print dist

pt1 = geopy.Point(lat, long)
pt2 = geopy.Point(lat, long + long_diff)
# distance.distance() is the  VincentyDistance by default.
dist = geopy.distance.distance(pt1, pt2).mi
print dist

0.024157763583
0.0255917777667

In [144]:
# group by address
import numpy as np
g = d.groupby(['address_clean']).agg(
    {'lat': [np.size, np.mean, np.min, np.max],
     'long': [np.mean, np.min, np.max]}).reset_index()
g.columns = g.columns.droplevel(0)
g.columns = ['address_clean', 'N', 'lat_avg', 'lat_min', 'lat_max', 'long_avg', 'long_min', 'long_max']

In [145]:
# create .05 mile x .05 mile square around average lat/long of address
g['lat_min_bound'] = g['lat_avg'] - lat_diff
g['lat_max_bound'] = g['lat_avg'] + lat_diff
g['long_min_bound'] = g['long_avg'] - long_diff
g['long_max_bound'] = g['long_avg'] + long_diff

In [146]:
g.head()

,address_clean,N,lat_avg,lat_min,lat_max,long_avg,long_min,long_max,lat_min_bound,lat_max_bound,long_min_bound,long_max_bound
0,,1.0,42.331427,42.331427,42.331427,-83.045754,-83.045754,-83.045754,42.331077,42.331777,-83.046254,-83.045254
1,5949 CASMERE ST,1.0,42.408738,42.408738,42.408738,-83.041618,-83.041618,-83.041618,42.408388,42.409088,-83.042118,-83.041118
2,8641 LITTLEFIELD,1.0,42.358054,42.358054,42.358054,-83.175329,-83.175329,-83.175329,42.357704,42.358404,-83.175829,-83.174829
3,WAGNER,1.0,42.338734,42.338734,42.338734,-83.137666,-83.137666,-83.137666,42.338384,42.339084,-83.138166,-83.137166
4,0 10TH,70.0,42.369786,42.369786,42.369786,-83.216326,-83.216326,-83.216326,42.369436,42.370136,-83.216826,-83.215826

In [147]:
# function that returns list of potential addresses given lat/long
def find_address(lat, long):
    sub = g[g['lat_min_bound'] < lat]
    sub = sub[sub['lat_max_bound'] > lat]
    sub = sub[sub['long_min_bound'] < long]
    sub = sub[sub['long_max_bound'] > long]
    
    # calculate distance
    pt1 = geopy.Point(lat, long)
    sub['dist'] = sub.apply(lambda row: geopy.distance.distance(pt1, geopy.Point(row['lat_avg'], row['long_avg'])).mi, axis=1)
    geopy.distance.distance(pt1, pt2).mi
    
    # sort by closest
    sub = sub.sort_values('dist', ascending=True)
    address_list = sub['address_clean'].values
    
    # return
    return address_list

In [148]:
# test it
# google says this location is 2982 Vicksburg St.
lat = 42.364313
long = -83.107868
find_address(lat, long)

array(['2974 VICKSBURG', '2988 VICKSBURG ST ', '2982 VICKSBURG',
       '2968 VICKSBURG', '2981 VICKSBURG ST ', '2960 VICKSBURG',
       '2961 VICKSBURG', '2954 VICKSBURG', '03000 VIRGINA PARK'], dtype=object)

In [139]:
# remaining to do
# DONE 1) remove variants of DETROIT MICHIGAN
# DONE 2) normalize street, St, St. etc. or ave, avenue, etc.
# 3) do something about when there is no st i.e. 2974 Vicksburg vs. 2974 Vicksburg St.